@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body * {font-family:'NanumSquareNeo-Variable';}
a {text-decoration: none;}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.bodyBg{
	 background:url('../image/main/background.jpg') no-repeat 50% 0;
}
.header{
	z-index: 999;
	min-height: 50px;
}
.mainLogo a img{
	height: 125px;
}
.search_wrap{
	border-radius: 0;
	border-color: #285430;
	border : none;
	width: 509px;
	height : 45px;
	top: 33px!important;
	display: block !important;
	position:relative;
	margin: 0;
	padding: 0;
	background: none;
} 
.search_bar{
	width:100%;
	height:45px;
	border:2px solid #285430;
}
.search_wrap .btn{
	background-position: center;
	background: url('../image/main/mainSearch.png') no-repeat;
	width : 45px;
	height: 100%;
	font-size: 0;
	text-indent : -9999px;
	border-radius:100px;
	position: absolute;
	background-size:auto;
	right: 0;
}
.nowLogin{
	display: inline-block;
}
.login{
	background: url('../image/main/login.png') no-repeat 50% 0;
} 
.join{
	background: url('../image/main/join.png') no-repeat 50% 0;
}
.myPage{
	background: url('../image/main/mPage.png') no-repeat 50% 0;
}
.logout{
	background: url('../image/main/logout.png') no-repeat 50% 0;
}
li.user{
	margin: 15px 15px 0 0;
	text-align: right;
}
.nowLogin{
	width: auto;
/* 	position : relative; */
/* 	right:-30px; */
}
.nowLogin li{
	display: inline-block;
	vertical-align: top;
}
.nowLogin li a{
	display:block;
	min-width: 72px;
	padding-top: 39px;
	font-size: 15px;
	text-align: center;
}

.navi_wrap ul{
	background-color:#285430;
	color : white;
	list-style-type: none;
	margin:0;
	padding:0;
	font-size: 0;
}
.underline-hover > li{
	display: inline-block;
	font-size: 18.75px;
	vertical-align: top;
	position: relative;
    width: 12%;
}
.underline-hover > li > a{
	padding: 0;
}
.underline-hover li a{
	font-weight:bold;
	display:block;
	text-align:center;
	padding:10px;	
	position:relative;
}
.underline-hover > li a:before{
	content:'';
	background-color: #fff;
	width:0;
	height:3px;
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom: 0px;
	transition:0.5s;
}
.underline-hover > li a:hover:before{
	width:70%;
}
.underline-hover li a:hover{
	color: white;
}
.underline-hover li ul{
	color : black; 
	display:none;
}
.underline-hover li:hover ul{
	position :absolute;
	width: 210px;
	display:block;
	font-size: 13px;
	border: 1px solid lightgray;
	background-color: white;
	box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
}
.menu1 ul li a:hover{
	color : #285430;
}
.menu1 ul li a:before{
	border-bottom: 1px solid lightgray;
	width: 70%;	
}
.main_search{
	margin-top : 16px;
}
.main_search label{
	width:70px;
	padding-right: 10px;
}
.main_search input, select{
	font-weight: bold;
    width: 250px;
/*     margin: 0 35px 20px; */
    height: 35px;
    padding: 6px 15px;
/*     border-radius: 5px; */
    outline: none;
    border: none;
    background: #cdcdcd;
/*     color: #ffffff; */
    font-size: 14px;
}
.search_date > input{
	width: 120px!important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
/*   position:relative; */
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 129px;
  height: 180px;;
  object-fit: cover;
}

/* .swiper-button-next,
.swiper-button-prev{
	background: none;
} */
/* .swiper-pagination{
	position: absolute;
	bottom:0;
} */
.inblock{
	display : inline-block;
}
.checks{
	display : inline-block;
	padding-right : 20px;	
}
.categ{
	width : 92.42px;
	display : inline-block;
	padding-right : 20px;	
}
/*tab css*/
.tab{float:left; width:395px;}
.tabnav{font-size:0;}
.tabnav li{display: inline-block;  height:46px; text-align:center; border:1px solid #ddd;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:3px; }
.tabnav li a.active:before{background:#7ea21e;}
.tabnav li a.active{border-bottom:1px solid #fff; font-weight: bold;}
.tabnav li a{ position:relative; display:block; background: #f8f8f8; color: #bcbcbc; padding:0 30px; line-height:46px; text-decoration:none; font-size:16px;}
.tabnav li a:hover,
.tabnav li a.active{background:#fff; color:#7ea21e; }
.tabcontent{padding: 20px; height:244px; border:1px solid #ddd;}

.tab{
	position: relative;
}
.xi-plus-thin{
 	position: absolute;
    right: -15px;
    top: -66px;
    font-size: 40px;
}
/* 공지 */
.notice_main{
	position:relative;
	border: 1px solid lightgray;
}
