@CHARSET "UTF-8";

/* 로그인 페이지 CSS */
.body{
	font-family: '나눔스퀘어 Light';
}
.root {
  /* display: flex; */
  width: 100%;
  height: 100%; }

.mobile-root {
  flex-direction: column; }
  .mobile-root .inactive {
    display: none; }

.signin-wrapper {
  flex-grow: 1;
  /* background: #d5d5d5; */
  transition: all .32s ease-in; }

.signup-wrapper {
  flex-grow: 1;
  background: #0F3758;
  transition: all .32s ease-in-out; }

.active {
  flex-grow: 6; }
  .active.form {
    z-index: 5; }

.inactive {
  pointer-events: none;
  filter: blur(2px) grayscale(80%);
  transform: scale(1.1); }
.inactive .form-wrapper {
  filter: opacity(55%); }

html, body {
  font-family: '나눔스퀘어 Light';
  height: 100vh;
  padding: 0;
  margin: 0;
  }

h5 {
  color: #212121;
  font-size: 20px;
  margin: 15px 0 30px 0;
  text-align: center; }

.form, .form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form-wrapper {
  background-color: white;
  width: 300px;
  height: 500px;
  padding: 20px 0;
  margin: 20px auto;
  border-radius: 15px;
  border: 1px solid black;
  border-radius: 8%;
  
  }
  .form-wrapper button {
    cursor: pointer;
    font-weight: bold;
    width: 230px;
    margin: 0 35px 20px;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 14px; }
    .form-wrapper button.primary {
      color: white;
      background: #0F3758; }
      .form-wrapper button.primary:hover {
        opacity: .9; }
    .form-wrapper button.secondary {
      background: white;
      color: #0F3758; }
      .form-wrapper button.secondary:hover {
        background: #f5f5f5; }
  .form-wrapper .form-field {
    font-weight: bold;
    width: 200px;
    margin: 0 35px 20px;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #f5f5f5;
    color: #748194;
    font-size: 14px; }
  .form-wrapper p {
    color: #424242;
    font-size: 14px;
    text-align: center; }
    .form-wrapper p a {
      cursor: pointer;
      color: #0F3758; }
      .form-wrapper p a:hover {
        color: #009688; }

/* 간편 로그인 이미지 크기 */
.SNSLogin{
	width: 200px;
	padding: 3px;
	margin: auto;
}

        
        /* 폰트적용 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
 * {font-family:'NanumSquareNeo-Variable';}