@charset "UTF-8";
.cl-pagination-wrap {position:relative;text-align:center;padding:7px;margin-top:20px}
.cl-pagination {position:relative;list-style:none;display:inline-block;padding:0;margin:0}
.cl-pagination li {display:inline}
.cl-pagination a {display:inline-block;font-size:12px;text-decoration:none;min-width:28px;height:28px;padding:0 5px;color:#fff;border:1px solid transparent;line-height:26px;text-align:center;color:#757575;position:relative;z-index:1}
.cl-pagination a:active {outline:none}
.cl-pagination a:hover {color:#000;background:#e5e5e5}
.cl-pagination a.active {cursor:default;background:#4B4B4D;color:#fff}
.cl-pagination a.active:hover {color:#fff;background:#4B4B4D}
.cl-pagination a.next,.cl-pagination a.prev {color:#959595}
.cl-pagination a.next:hover,.cl-pagination a.prev:hover {color:#000}