<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Main">
	<resultMap type="Main" id="Main">
		<id property="searchNo" column="searchNo"/>
		<result property="searchTitle" column="searchTitle"/>		
		<result property="searchContent" column="searchContent"/>		
		<result property="searchRegdate" column="searchRegdate"/>		
		<result property="searchWriter" column="searchWriter"/>		
		<result property="searchDelYn" column="searchDelYn"/>		
		<result property="tableType" column="tableType"/>		

		<result property="Code01" column="Code01"/>		
		<result property="Code02" column="Code02"/>		
		<result property="Code03" column="Code03"/>		
		<result property="Code04" column="Code04"/>		
		<result property="Code05" column="Code05"/>		
		<result property="Code06" column="Code06"/>		
		<result property="Code07" column="Code07"/>		
		<result property="Code08" column="Code08"/>		
		<result property="Code09" column="Code09"/>		
		<result property="Code10" column="Code10"/>		
		<result property="Code11" column="Code11"/>		
		<result property="Code12" column="Code12"/>		
		<result property="Code13" column="Code13"/>		
		<result property="Code14" column="Code14"/>		
		<result property="Code15" column="Code15"/>		
		<result property="Code16" column="Code16"/>		
		<result property="Code17" column="Code17"/>		
	</resultMap>

	<!-- 통합검색 -->
	<select id="uSearch" resultType="Main" parameterType="hashMap">
	SELECT
     searchNo, searchTitle, searchContent, searchRegdate, searchWriter, searchDelYn, tableType
	FROM
	    (SELECT
	        search.no as searchNo, search.title as searchTitle, search.content as searchContent, search.regdate as searchRegdate, search.writer as searchWriter
            , search.DelYn as searchDelYn, search.tableType as tableType
	    FROM
	        (SELECT
	             mhf.mhfNo as no, mhf.mhfTitle as title, mhf.mhfContent as content, mhf.mhfRegDate as regdate, mhf.mhfWriter as writer, mhf.mhfDelYn as DelYn, mhf.tableType as tableType
	        FROM
	            mhfind mhf
	        UNION ALL
	        SELECT
	            mhr.mhrNo as no, mhr.mhrTitle as title, mhr.mhrContent as content, mhr.mhrRegDate as regdate, mhr.mhrWriter as writer, mhr.mhrDelYn as DelYn, mhr.tableType as tableType
	        FROM
	            mhreport mhr
	        UNION ALL
	        SELECT
	            mq.mqNo as no, mq.mqTitle as title, mq.mqContent as content, mq.mqRegDate as regdate, mq.mqWriter as writer, mq.mqDelYn as DelYn, mq.tableType as tableType
	        FROM
	            mqna mq
	        UNION ALL
	        SELECT
	            mpf.mpfNo as no, mpf.mpfTitle as title, mpf. mpfContent as content, mpf.mpfRegDate as regdate, mpf.mpfWriter as writer, mpf.mpfDelYn as DelYn, mpf.tableType as tableType
	        FROM
	            mpfind mpf
	        UNION ALL
	        SELECT
	            mpp.mppNo as no, mpp.mppTitle as title, mpp.mppContent as content, mpp.mppRegDate as regdate, mpp.mppwriter as writer, mpp.mppDelYn as DelYn, mpp.tableType as tableType
	        FROM
	            mpprotect mpp
	        UNION ALL
	        SELECT
	            mpr.mprNo as no, mpr.mprTitle as title, mpr.mprContent as content, mpr.mprRegDate as regdate, mpr.mprWriter as writer, mpr.mprDelYn as DelYn, mpr.tableType as tableType
	        FROM
	            mpreport mpr
	        UNION ALL
	        SELECT
	            mre.mreNo as no, mre.mreTitle as title, mre.mreContent as content, mre.mreRegDate as regdate, mre.mreWriter as writer, mre.mreDelYn as DelYn, mre.tableType as tableType
	        FROM
	            mrequest mre
	        ORDER BY
	           tableType DESC, regdate DESC) search)
	    WHERE
	    	searchDelYn = 'N'
	    	<if test="search != ' ' and search != null">
	    		searchTitle LIKE '%'||#{keyword}||'%' or searchContent LIKE '%'||#{keyword}||'%'
	    	</if>
	</select>
	<select id="mhGraph" resultType="Main">
		SELECT 
		     (SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '01') AS Code01
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '02') AS Code02
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '03') AS Code03
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '04') AS Code04
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '05') AS Code05
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '06') AS Code06
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '07') AS Code07
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '08') AS Code08
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '09') AS Code09
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '10') AS Code10
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '11') AS Code11
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '12') AS Code12
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '13') AS Code13
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '14') AS Code14
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '15') AS Code15
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '16') AS Code16
		    ,(SELECT count(*) FROM MHREPORT WHERE mhrDelYn = 'N' AND mhrlocalcode = '17') AS Code17
		FROM DUAL
	</select>
	<select id="mpGraph" resultType="Main">
		SELECT 
		     (SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '01') AS Code01
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '02') AS Code02
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '03') AS Code03
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '04') AS Code04
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '05') AS Code05
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '06') AS Code06
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '07') AS Code07
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '08') AS Code08
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '09') AS Code09
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '10') AS Code10
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '11') AS Code11
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '12') AS Code12
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '13') AS Code13
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '14') AS Code14
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '15') AS Code15
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '16') AS Code16
		    ,(SELECT count(*) FROM mpreport WHERE mprDelYn = 'N' AND mprLocalCode = '17') AS Code17
		FROM DUAL
	</select>
</mapper>
