<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MhFindComm">
	<resultMap type="MhFindComm" id="MhFindComm">
		<id property="mhfComNo" column="mhfComNo"/>
		<result property="mmNo" column="mmNo"/>
		<result property="mhfNo" column="mhfNo"/>
		<result property="mhfComRegDate" column="mhfComRegDate"/>
		<result property="mhfComContent" column="mhfComContent"/>
		<result property="mhfComWriter" column="mhfComWriter"/>
		<result property="mhfComDelYn" column="mhfComDelYn"/>
	</resultMap>

<select id="mhfcSelectList" resultType="MhFindComm">
SELECT
	mhfComWriter, mhfComContent, mhfComRegDate, mhfComNo, mhfNo, mmNo
FROM
	mhfindcomm
WHERE
	mhfComDelYn = 'N' AND
	mhfNo = #{mhfNo}
ORDER BY
	mhfComNo DESC
</select>
<insert id="mhfcInsert" parameterType="MhFindComm">
INSERT INTO
	mhfindComm(mhfComNo,mhfComContent, mhfComWriter, mmNo, mhfNo )
VALUES(mhFind_seq.NEXTVAL,#{mhfComContent}, #{mhfComWriter}, #{mmNo}, #{mhfNo})
</insert>
<update id="mhfcUpdate" parameterType="MhFindComm">
UPDATE
	mhfindComm
SET
	mhfComContent = #{mhfComContent}, mhfComRegDate = SYSTIMESTAMP
WHERE
	mhfComNo = #{mhfComNo}
</update>
<update id="mhfcDelete" parameterType="MhFindComm">
UPDATE
	mhfindComm
SET
	mhfComDelYn = 'Y'
WHERE
	mhfComNo = #{mhfComNo}
</update>
</mapper>